<section class="comment">
  <img src="/pictures/{{comment.filename}}" alt="{{comment.description}}">
  <div class="comment">
    <h3>{{comment}}</h3>
    <p>By: {{comment.username}}</p>
  </div>
</section>